{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div class="container my-5">
    {% if user.is_authenticated %}
        <h3>New Post</h3>
        <div class="form">
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form|crispy }}
                    <button type="submit" class="btn btn-info" style="padding: .2rem 1.5rem;">Post</button>
                </form>
                <br>
                <input class="btn btn-sm btn-secondary" style="padding: .2rem 1.5rem;" type=button value="Cancel" onClick="javascript:history.go(-1);">
            </div>
            <script>
                var name = "{{ user.id }}";
                document.getElementById('username').value = name;
            </script>
        </div>
    {% else %}
    <a class="btn btn-sm btn-info" href="#" role="button">Login</a>
    {% endif %}
</div>


{% endblock content %}
